# LiveKit Cloud Credentials
NEXT_PUBLIC_LIVEKIT_URL="wss://<your-project>.livekit.cloud"
LIVEKIT_API_KEY="your_api_key"
LIVEKIT_API_SECRET="your_api_secret"
ADMIN_EMAILS="info@premieragric.co.za,support@premieragric.co.za"

# Resend Email Configuration
RESEND_API_KEY="your_resend_api_key"
RESEND_FROM_EMAIL="info@premieragric.co.za"
